/*<---------------------Navbar--------------------->*/

.navbar {
  background-color: rgba(19, 84, 149, 0.8);
  height: 13vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  float: right;
}

.navbar2 {
  height: 13vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  float: right;
}

.navItem {
  margin-right: 2vw;
  font-size: 1vw;
  color: white;
}

#nav1 {
  margin-top: 6vw;
  margin-right: 2vw;
}

#nav2 {
  margin-bottom: 1vw;
}

.navItem1 {
  margin-right: 3vw;
  font-size: 1.2vw;
  color: white;
}

#redBtn {
  background-color: rgba(237, 27, 36, 0.55);
  height: 2.5vw;
  width: 12vw;
  border-style: none;
  border-radius: 0.3vw;
}

/*<---------------------Moto--------------------->*/

.moto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2vw;
}

.card {
  width: 12vw;
  height: 20vw;
  text-align: center;
  font-size: 1.4vw;
  color: #002a54;
}

.card img {
  height: 6vw;
}

/*<---------------------Footer--------------------->*/

.footer {
  background-color: #002a54;
  color: white;
  display: flex;
  gap: 1vw;
  padding-top: 5vw;
  justify-content: space-evenly;
  width: 100%;
  height: 40vw;
  background-image: url("../Assets/footer.svg");
}

.smlFoot {
  font-size: 1.3vw;
  font-weight: 300;
  margin-bottom: 0.5vw;
}
